#tweet-text {
  background-color: inherit;
  border: 0px;
  border-bottom: solid black ;
  width: 90vw;
  display: block;
  outline: none;
  font-size: 20px;
  font-weight: 800;
}

.tweet-div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee' , cursive, sans-serif;
  padding: 15px 0px;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
}

button:hover{
    border-color: rgb(18, 76, 223);
}

.counterBlack {
  color: black;
}
.counterRed {
  color: red;
}